<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.bbs.dao.BoardDAO">
	
	<select id="getBoardAllCount"
	        resultType="_int">
		SELECT COUNT(B.ID)
          FROM BOARD B
         INNER JOIN MEMBERS M
            ON M.EMAIL = B.EMAIL
	</select>
	
	<resultMap type="com.ktdsuniversity.edu.bbs.vo.BoardVO" 
	           id="boardVOMap">
	    <!-- PK 컬럼을 대상으로 작성. -->
	    <id column="ID" property="id" />
	    <!-- 일반 컬럼을 대상으로 작성. -->
	    <result column="SUBJECT" property="subject" />
	    <result column="CONTENT" property="content" />
	    <result column="EMAIL" property="email" />
	    <result column="VIEW_CNT" property="viewCnt" />
	    <result column="CRT_DT" property="crtDt" />
	    <result column="MDFY_DT" property="mdfyDt" />
	    <result column="FILE_NAME" property="fileName" />
	    <result column="ORIGIN_FILE_NAME" property="originFileName" />
	    <result column="IP_ADDR" property="ipAddr" />
	    <!-- 1:1 Has a 관계에서 사용한다. -->
	    <association property="memberVO" 
	                 javaType="com.ktdsuniversity.edu.member.vo.MemberVO">
	        <id column="EMAIL" property="email" />
	        <result column="NAME" property="name" />
	    </association>
	</resultMap>
	
	<select id="getAllBoard"
	        resultMap="boardVOMap">
		SELECT B.ID
		     , B.SUBJECT
		     , B.CONTENT
		     , B.EMAIL
		     , B.VIEW_CNT
		     , TO_CHAR(B.CRT_DT, 'YYYY-MM-DD') CRT_DT
		     , TO_CHAR(B.MDFY_DT, 'YYYY-MM-DD') MDFY_DT
		     , B.FILE_NAME
		     , B.ORIGIN_FILE_NAME
		     , B.IP_ADDR
		     , M.NAME
		  FROM BOARD B
		 INNER JOIN MEMBERS M
		    ON M.EMAIL = B.EMAIL
		 ORDER BY B.ID DESC
	</select>
	
	<select id="searchAllBoard"
	        parameterType="com.ktdsuniversity.edu.bbs.vo.SearchBoardVO"
	        resultMap="boardVOMap">
	    SELECT *
		  FROM (SELECT ROWNUM RNUM
		             , S.*
		          FROM (SELECT B.ID
		                     , B.SUBJECT
		                     , B.CONTENT
		                     , B.EMAIL
		                     , B.VIEW_CNT
		                     , TO_CHAR(B.CRT_DT, 'YYYY-MM-DD') CRT_DT
		                     , TO_CHAR(B.MDFY_DT, 'YYYY-MM-DD') MDFY_DT
		                     , B.FILE_NAME
		                     , B.ORIGIN_FILE_NAME
		                     , B.IP_ADDR
		                     , M.NAME
		                  FROM BOARD B
		                 INNER JOIN MEMBERS M
		                    ON M.EMAIL = B.EMAIL
		                 ORDER BY B.ID DESC) S
		                 /*CDATA 내부의 텍스트는 원문 그대로 출력하게 한다.*/
		         WHERE ROWNUM <![CDATA[<=]]> (#{pageNo} + 1) * #{listSize} /*조회 끝 번호*/)
		 WHERE RNUM >= #{pageNo} * #{listSize} + 1 /*조회 시작 번호*/
	</select>
	
	<insert id="createNewBoard"
	        parameterType="com.ktdsuniversity.edu.bbs.vo.BoardVO">
		INSERT INTO BOARD
		 (ID
		, SUBJECT
		, CONTENT
		, EMAIL
		, VIEW_CNT
		, CRT_DT
		, MDFY_DT
		, FILE_NAME
		, ORIGIN_FILE_NAME
		, IP_ADDR)
		VALUES
		 (SEQ_BOARD_PK.NEXTVAL
		, #{subject}
		, #{content}
		, #{email}
		, 0
		, SYSDATE
		, SYSDATE
		, #{fileName}
		, #{originFileName}
		, #{ipAddr})
	</insert>
	
	<update id="increaseViewCount"
	        parameterType="_int">
		UPDATE BOARD
		   SET VIEW_CNT = VIEW_CNT + 1
		 WHERE ID = #{_parameter}
	</update>
	
	<!--  Result Type은 Select 에서만 사용할 수 있는 속성. -->
	<select id="getOneBoardVO"
	        parameterType="_int"
	        resultMap="boardVOMap">
		SELECT B.ID
		     , B.SUBJECT
		     , B.CONTENT
		     , B.EMAIL
		     , B.VIEW_CNT
		     , TO_CHAR(B.CRT_DT, 'YYYY-MM-DD') CRT_DT
		     , TO_CHAR(B.MDFY_DT, 'YYYY-MM-DD') MDFY_DT
		     , B.FILE_NAME
		     , B.ORIGIN_FILE_NAME
		     , B.IP_ADDR
		     , M.NAME
		  FROM BOARD B
		 INNER JOIN MEMBERS M
		    ON M.EMAIL = B.EMAIL
		 WHERE B.ID = #{_parameter}
	</select>
	
	<update id="updateOneBoard"
	        parameterType="com.ktdsuniversity.edu.bbs.vo.BoardVO">
	    UPDATE BOARD
		   SET SUBJECT = #{subject}
		     , CONTENT = #{content}
		     , MDFY_DT = SYSDATE
		     <if test='fileName != null and fileName != ""'>
		     , FILE_NAME = #{fileName}
		     , ORIGIN_FILE_NAME = #{originFileName}
		     </if>
		 WHERE ID = #{id}
	</update>
	
	<delete id="deleteOneBoard"
	        parameterType="_int">
		DELETE 
		  FROM BOARD
		 WHERE ID = #{_parameter}
	</delete>
</mapper>






